@media screen and (max-width: 1024px) {
  body {
    margin: 0;
  }

  .container {
    width: 100%;
  }
}


@media screen and (max-width: 490px) {
#step1, #step2, #step3 {
  font-size: 1rem;
}

.container-menu H1 {
  margin: 0 0 0 25px ;
  width: 70%;
}

.container-menu H1::after {
  right: 36px;
}

.container p {
  font-size: 0.9rem;
}

// animation validation

.dish__bloc {

  &:hover {

    & > .dish__bloc__validation {
      width: 53px !important;
    }

    & > .dish__bloc__description {
      width: 80% !important;
    }
  }
}
}

@media screen and (max-width: 370px) {
  .dish__bloc {

    &:hover {
  
      & > .dish__bloc__validation {
        transform: translateX(0);
        width: 48px !important;
        overflow: hidden;
      }
    }

  }
}