@mixin number {
    border-radius: 50%;
    background-color: $primary-color;
    color: white;
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 20px;
    left:-12px;
}

@mixin bloc-operation {
    margin: 20px auto;
    background-color: $grey-color;
    border-radius: 25px 25px;
    width: 90%;
    position: relative;
    padding: 6px 0;
    box-shadow: -7px 11px 11px -7px rgba(53,53,53,0.29);
}

@mixin new {
    color: #008766;
    font-weight: bold;
    width: 16%;
    background-color: #99e2d0;
}

@mixin bloc-restaurant {
    border-radius: 25px;
    background-color: white;
    margin: 20px auto;
    width: 90%;  
}