#taste {
    background-image: url("/public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 354px;
}